Django==4.1
django-cors-headers
pymysql
ruamel.yaml
PyYAML
torch
torchvision
torchaudio
torch_geometric
torch_sparse
torch_scatter
torch_cluster
matplotlib
networkx
transformers
scikit-learn
pandas
django-redis
celery